#footer-top{
        margin-top: 10vh;
        display: flex;
        height: 180px;
        background-image:url("https://n.nordstrommedia.com/id/e63e8dd7-3537-47db-912c-7d370e63658f.jpeg?h=180&w=1600");
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 0px solid;
}
#footer-top p{
        display: inline;
        text-align: center;
        margin-top: 5%;
        color: white;
     
}
#footer-top a{
        
        color: white;
        margin-top: 4%;
}
#sign-up{
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        border: 0px solid;
}
*{
        box-sizing: border-box;
}
#sign-up p{
       padding: 15px 20px;
        display: inline;
        width:1%;
       border:0px solid;
       font-size: 15px;
       font-weight: 600;
}
#sign-up input[type="email"]{
        display: inline;
        padding: 10px 40px 10px 5px;
        font-size: 20px;
       border:1px solid wheat;
       outline: none;
      
}
 input[type="submit"]{
        display: inline;
    padding: 10px 80px;
    background-color:#00819d ;
    color:white;
    font-size: 20px;
    outline: none;
    border: 1px solid #00819d ;
    
}
#footer-bottom{
        display:grid;
        grid-template-columns: repeat(7,1fr);
        gap: 10px;
        height:60vh;
        background-color: #f9f9f9;
        margin-top:10vh;
}
#footer-bottom >div {
        border: 0px solid;
      
        
}
#footer-bottom li{
        list-style: none;
        margin:10% 0%;
        font-size: 17px;
        
}
#footer-bottom li>a{
        color: black;
        text-decoration: none;
}
#footer-bottom p{
        margin-left: 17%;
        font-size: 20px;
        font-weight: 800;
}
#footer-bottom >div:nth-child(6){
        grid-area: 1/6/2/8;
}
.fa-mobile-screen-button{

        font-size: 25px;
        margin:20px 0px 0px 20px;
}
#footer-bottom >div:nth-child(6)>p{
        font-size: 15px;

        
}
#footer-bottom >div:nth-child(6)> p > .fa-brands{
 margin:5px 7px;
 font-size: 17px;
}
#footer-bottom >div:nth-child(6) a{
        font-size: 18px;
        text-decoration: none;
        margin:10px 0px 5px 10px;
        color:black;

}
#footer-bottom >div:nth-child(6) >div{
        margin-right: 0px;
        border:0px solid;
        display: inline;
        margin-left: 110px;
        background-color: white;
}
.fa-chevron-up{

        font-size: 25px;
        
       
}
#footer-bottom > div:nth-child(6) .fa-chevron-up + a{
      
        /* margin:30px 5px 10px 2px; 
       font-size:20px ;
        */

} 