body{
        margin: 0px;
        padding: 0px;
        
}
#navbar-top{
        width:100%;
        background-color: #00819d;
        padding: 10px 0px;
        text-align: center;
        color: white;
        font-size: 17px;
        font-family: 'Franklin Gothic Medium', ;
}
#navbar-top >p{
 display: inline;

}
#navbar-top >a{
        color: white;
}
#navbar-middle{
        border:0px solid;
        display: flex;
        
        justify-content: space-between;
        padding: 20px 40px;
        /* background-color: #c4c9ca; */
        align-items: center;
         /* justify-content: center;  */
}

#navbar-middle >div:nth-child(1){
    width:6%;
}
#navbar-middle >div:nth-child(3){
        width:15%;
        font-size: 20px;
        
        
    }
     #navbar-middle >div:nth-child(3) p{
      
    } 







    #navbar-middle >div:nth-child(2){
        width:45%;
        border:1px solid;
    }
#navbar-middle img{
 width:100%;
}

#navbar-middle span:nth-child(1){
        font-size: 24px;
}

#shop{
        margin-left: 20px;
        font-size: 30px;
     
}


hr{
        width:95%;
        
       

}
.fa-magnifying-glass{
        align-self: center;
        /* padding: 10px 20px; */
        font-size:25px;
        padding-top: 10px;
}
#navbar-middle input{
        width: 80%;
        padding: 10px;
        border: none;
        margin-top: -5pxpx;
        outline: none;
        font-size: 20px;

}
#navbar-bottom{
        border:0px solid;
       display: flex;
       padding:0px 80px ;
      justify-content:space-between ;
    
        
} 

#navbar-bottom a{
        text-decoration: none;
        color:black;
        font-size: 20px;
        
}

#navbar-bottom #flash-events{
        color:#00819d;
}
#sign-in{
       width:30%;
       margin:auto;
       text-align: center;
}

#sign-in button a:hover{
        color: white;
}
#sign-in button {
        padding: 10px;
        font-size: 16px;
        color:#00819d;
      border:1px solid #00819d;
       
        background-color: white;
}
#sign-in button:hover{
        background-color:#00819d ;
        color: white;
}
#bg-image{
        width:95%;
        margin: auto;
        margin-top: 10vh;
        width:100%;
        height:200px;
        background-image: url("https://n.nordstrommedia.com/id/a1bc3571-f42c-44b7-99a8-58bb65c6ee2c.jpeg?h=200&w=1608");
       
}


#swipe-image-1{
        width:95%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        border: 0px solid;
        
      
}
.swiper .swiper-button-prev {
      color: black;
}
.swiper .swiper-button-next{
        color: black;
}
#swipe-image-1 a{
        padding:0px 20px 0px 0px;
        color: #00819d;
}
#swipe-image-1 h2{
      margin-top: -100px;
}
#top{
        margin-top: -100px;  
}
